body{
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #5f6448;
}

img{
  width: 60vw;
  height: 100vh;
  transition: transform 200ms;
  object-fit: cover;
}
img.left{
  transform: translateX(-100vh);
}
img.right{
  transform: translateX(100vh);
}

img.next{
  display: none;
}


@media (max-width: 450px) {
  img{
    width: 80vw;
  }
}
